<h2>Log in to your account</h2>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<!--Login form to login into your account if you have created an account already-->
<form method="POST" action="/login">
    Username: <input name="username"/>
    Password: <input type="password" name="password"/>

    <input type="submit" value="Log in">
</form>

<p>If you don't have an account, you can <a href="/signup"> Sign up here</a> </p>