<h2>Sign up for an account</h2>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<!--POST method to signup for an account for your favorite color-->
<form method="POST" action="/signup">
    Username: <input name="username"/>
    Password: <input type="password" name="password"/>

    <input type="submit" value="Sign up">
</form>

<p>If you already have an account, you can <a href="/login">Log in here</a> </p>